@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.279);
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

select::after {
    content: '▼';
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

button {
    width: 100%;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.loading {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background-color: #ffc107;
    color: #856404;
    font-weight: bold;
}

.result {
    margin-top: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}

.accepted {
    background-color: #28a745;
    color: #ffffff;
}

.rejected {
    background-color: #dc3545;
    color: #ffffff;
}
